<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A new approach</h2>
                <hr class="light">
                <p class="text-faded">Amaterasu is a simple and powerful framework to build, configure and dispense data processing pipelines. It aims to help data engineers and data scientists to compose, configure, test, package, deploy and execute data pipelines written using multiple tools, languages and frameworks</p>
                <a href="http://shinto.io/amaterasu/bigdata/devops/2016/09/22/introducing-materasu-continuously-deployed-big-data-pipelines.html" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
