<header>
    <div class="header-content">
        <div class="header-content-inner">
        <div>
        	 <!-- <img src="img/amaterasu_logo_big.jpg" class="logo-image"/> -->
        	 <img src="img/amaterasu_logo_small.png"/>
        	 <!-- <img src="img/amaterasu_logo.jpg" class="logo-image"/> -->
        </div> 
        <hr>	       
            <p>Apache Amaterasu (Incubating) is an open source, configuration managment and deployment framework for data pipelines</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
